.profile{
  position: relative;
  width: 880px;
  margin: 40px 0 0 0;
  display: grid;
  grid-template-columns: min-content minmax(min-content, max-content) min-content 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "profile__avatar profile__title profile__edit-button profile__add-button"
  "profile__avatar profile__subtitle profile__subtitle profile__add-button";
}

@media (max-width: 1023px) {
  .profile{
    width: 100%;
    max-width: 600px;
    margin: 42px 0 0 0;
    padding: 0 19px 0 19px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "profile__avatar profile__avatar"
    "profile__title profile__edit-button"
    "profile__subtitle profile__subtitle"
    "profile__add-button profile__add-button";
  }
}
