.edit-profile__close-btn{
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  align-self: flex-end;
}

@media (max-width: 1023px) {
  .edit-profile__close-btn{
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.edit-profile__close-btn:hover{
  cursor: pointer;
}
