.profile__title{
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  grid-area: profile__title;
  align-self: end;
  position: relative;
  bottom: -8px;
  max-width: 520px;
}

@media (max-width: 1023px) {
  .profile__title{
    font-size: 27px;
    line-height: 33px;
    margin: 26px 0 0 0;
    max-width: 100%;
    justify-self: end;
    bottom: -6px;
  }
}
