.edit-profile__container{
  display: flex;
  flex-direction: column;
  width: 430px;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .edit-profile__edit-container{
    width: calc(100% - 38px);
    max-width: 430px;
  }
}
